body {
    background-color: rgb(255, 180, 0);
  }
h1, h3 {
    color: rgb(0, 0, 120);
    background-color: #ffffff;
  }

h3 {
  font-size: 50px;
}

.onlyindexh1 {
    font-family: Montserrat, sans-serif;
  }

.footerheader {
  background-color: beige;
  align-items: center;
  text-align: center;
}

nav {
  width: 100%;
  background-color: beige; 
  text-align: center;
}

.navbarlist {
    list-style-type: none; 
    display: block;
    justify-content: center;
    padding-bottom: 10px;
  }

.navbarlist > li:last-of-type {
  padding-top: 25px;
  }

.courseformat {
  list-style-type: none; 
  display: block;
  justify-content: center;
  padding-bottom: 10px;
}  

.courseformat > li {
  border-bottom: black 2px solid;
}


@media screen and (min-width: 600px) {
  .navbarlist {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .navbarlist > li:last-of-type {
    padding-top: 0;
    }

  .courseformat > li {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .description {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }


}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 10px;
}