body {
    background-color: rgb(255, 180, 0);
  }
h1 {
    color: rgb(0, 0, 120);
    background-color: #ffffff;
  }

.onlyindexh1 {
  font-family: Montserrat, sans-serif;
}

nav {
  background-color: beige; text-align: center
}

.navbarlist {
    list-style-type: none; 
  
  }